# Ignore data and environment files
data/
db/
__pycache__/
*.zip
.env

# Ignore Lambda dependency packages
LAMBDA_PROJECT/boto3/
LAMBDA_PROJECT/botocore/
LAMBDA_PROJECT/certifi/
LAMBDA_PROJECT/charset_normalizer/
LAMBDA_PROJECT/click/
LAMBDA_PROJECT/colorama/
LAMBDA_PROJECT/dateutil/
LAMBDA_PROJECT/greenlet/
LAMBDA_PROJECT/idna/
LAMBDA_PROJECT/jmespath/
LAMBDA_PROJECT/joblib/
LAMBDA_PROJECT/pg8000/
LAMBDA_PROJECT/requests/
LAMBDA_PROJECT/s3transfer/
LAMBDA_PROJECT/scramp/
LAMBDA_PROJECT/sqlalchemy/
LAMBDA_PROJECT/tqdm/
LAMBDA_PROJECT/urllib3/
LAMBDA_PROJECT/asn1crypto/

# Ignore dist-info folders
LAMBDA_PROJECT/*.dist-info/

# Ignore build folders
LAMBDA_PROJECT/bin/
LAMBDA_PROJECT/include/

# Ignore cache and binary files
LAMBDA_PROJECT/__pycache__/
LAMBDA_PROJECT/*.pyc
LAMBDA_PROJECT/*.pyd

# Ignore standalone dependency files
LAMBDA_PROJECT/six.py
LAMBDA_PROJECT/typing_extensions.py

# Ignore Lambda zip
LAMBDA_PROJECT/lambda.zip