# =========================
# GENERAL
# =========================

.env
*.zip
*.pyc
*.pyd

__pycache__/
data/
db/

# =========================
# ROOT PROJECT CACHE
# =========================

.vscode/
.ipynb_checkpoints/

# =========================
# LAMBDA PROJECT CACHE
# =========================

LAMBDA_PROJECT/__pycache__/
LAMBDA_PROJECT/bin/
LAMBDA_PROJECT/include/

# =========================
# AWS / PYTHON LIBRARIES
# =========================

LAMBDA_PROJECT/boto3/
LAMBDA_PROJECT/botocore/
LAMBDA_PROJECT/certifi/
LAMBDA_PROJECT/charset_normalizer/
LAMBDA_PROJECT/click/
LAMBDA_PROJECT/colorama/
LAMBDA_PROJECT/dateutil/
LAMBDA_PROJECT/greenlet/
LAMBDA_PROJECT/idna/
LAMBDA_PROJECT/jmespath/
LAMBDA_PROJECT/joblib/
LAMBDA_PROJECT/pg8000/
LAMBDA_PROJECT/requests/
LAMBDA_PROJECT/s3transfer/
LAMBDA_PROJECT/scramp/
LAMBDA_PROJECT/sqlalchemy/
LAMBDA_PROJECT/tqdm/
LAMBDA_PROJECT/urllib3/
LAMBDA_PROJECT/asn1crypto/

# =========================
# DIST-INFO FOLDERS
# =========================

LAMBDA_PROJECT/*.dist-info/
LAMBDA_PROJECT/*-info/

LAMBDA_PROJECT/asn1crypto-*/
LAMBDA_PROJECT/boto3-*/
LAMBDA_PROJECT/botocore-*/
LAMBDA_PROJECT/certifi-*/
LAMBDA_PROJECT/charset_normalizer-*/
LAMBDA_PROJECT/click-*/
LAMBDA_PROJECT/colorama-*/
LAMBDA_PROJECT/greenlet-*/
LAMBDA_PROJECT/idna-*/
LAMBDA_PROJECT/jmespath-*/
LAMBDA_PROJECT/joblib-*/
LAMBDA_PROJECT/pg8000-*/
LAMBDA_PROJECT/python_dateutil-*/
LAMBDA_PROJECT/requests-*/
LAMBDA_PROJECT/s3transfer-*/
LAMBDA_PROJECT/scramp-*/
LAMBDA_PROJECT/six-*/
LAMBDA_PROJECT/sqlalchemy-*/
LAMBDA_PROJECT/tqdm-*/
LAMBDA_PROJECT/typing_extensions-*/
LAMBDA_PROJECT/urllib3-*/

# =========================
# EXTRA PYTHON FILES
# =========================

LAMBDA_PROJECT/six.py
LAMBDA_PROJECT/typing_extensions.py

# =========================
# ZIP FILES
# =========================git add .gitignore

LAMBDA_PROJECT/lambda.zip